services:
  api:
    restart: always
    build:
      context: .
      dockerfile: api/Dockerfile
      target: production
    environment:
      NODE_ENV: production
    volumes: []

  frontend:
    restart: always
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: production
    ports:
      - "80:80"
    volumes: []
